.body {
    position: absolute;
    z-index: 9;
    text-align: center;
    border: none;
}

.header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}
